/* see https://github.com/ELIXIR-Belgium/elixir-toolkit-theme*/

/*
.navbar {
    .navbar-brand {
        font-size: 2.25rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}
*/
img {
    @extend .img-fluid;
}

h1 {
    font-size: 2.4rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.7rem;
    font-weight: bolder;
}

.accordion-button:not(.collapsed) {
 color:#FFFFFF;
 background-color:#205a86;
 box-shadow:inset 0 -1px 0 rgba(0,0,0,0.125)
}

.accordion-button {
 background-color:#f8f9fa;

}

header .navbar {
    .navbar-brand {
        font-size: 2.25rem;
        color: $black !important;
            img {
                max-height: 80px;
            }
    }
}

.navigation-tiles {
    .card:hover {
        box-shadow: $box-shadow;
    }

    .card-header {
        a:hover {
            text-decoration: none;
        }
        h3 {
            font-size: 1.1rem;
        }
    }
    .card-text {
        font-size: 0.9rem;
    }

}
.navigation-tiles {
    .card {
        .card-header {
            background-color: #5ac3b1;       
        }
    }
}

.navbar-nav .nav-item > a {
    &.active {
        color: $white;
        background-color: $primary;
        border-radius: $border-radius;
    }
}


.index-main-container {
  display: flex;
  flex-wrap: wrap;
}

.index-panel {
  padding: 20px;
  flex: 1;
  min-width: 300px;
}

.index-left-panel {
  flex: 1;
}

.index-right-panel {
  flex: 1.5;
}

.video-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
